<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Mornitoring</h2>
    <table>
        <tr>
            <th>Num</th>
            <th>Sensor_type</th>
            <th>Timeline</th>
            <th>Warning</th>
            <th>Description</th>
        </tr>

        <% if (userData.length !=0) { %>
            <% for (var i = 0; i < userData.length; i++) { %>
                <tr>
                    <td><%=userData[i].Num %></td>
                    <td><%=userData[i].Sensor_type %></td>
                    <td><%=userData[i].Timeline %></td>
                    <td><%=userData[i].Warning %></td>
                    <td><%=userData[i].Description_ %></td>
                </tr>
            <% } %>
        <% } else { %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% }  %>
    </table>
</body>
</html>